/*-- scss:defaults --*/

$code-block-border-left: #FCC251;
$code-color: black;
$code-bg: #E8E8E8;

/*-- scss:rules --*/

h1, h2, h3, h4, h5 {
  color: #CB6015;
  opacity: 1;
}

h2, h3, h4, h5 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: none;}

h2 + .level4 > h4 { 
      margin-top: 10px;
}

div.sourceCode {
margin-left: 0.1rem;
}

.cell-output-display img,
p img.img-fluid {
  display: block;
  margin-left: 2rem;
  margin-right: auto;
}

details > summary {
  color: black;
}
